---
layout: no_sidebar
---
<h1 class="homepage-title">TOBI LAB DOCUMENTATION</h1>

<p>
    Welcome to the official GitHub organization of the TOBI Lab, led by <a href="https://depreterlab.sites.vib.be/en#/">Prof. Katleen De Preter</a>.
    We are part of the <a href="https://cmb.sites.vib.be/en">VIB-UGent Center for Medical Biotechnology (CMB)</a> and 
    affiliated with <a href="https://vib.ai/en">VIB.AI</a>. Below you can find a list of pipelines and repositories we have developed, 
    and on the subsequent pages are documentation and links to downloads and source code (hosted on
    <a href="https://github.com/VIBTOBIlab">Github</a>).
</p>

<div class='list-group my-5', id="home-projects">
    <h3 class='list-group-item list-group-item-heading'>
        Projects
    </h3>
    {% for page in site.pages %}
        {% if page.tags contains "project_home" %}
            <a class="list-group-item list-group-item-action" href="{{ page.permalink }}">
                <h6 class="mb-1">{{ page.title }}</h6>
                <p class="mb-1 project-description">{{ page.description }}</p>
            </a>
        {% endif %}
    {% endfor %}
</div>